<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <form method="POST" action="{% url 'create' %}">
            {% csrf_token %}
            <div class="form-group mb-3">
                {{form.name}}
            </div>
            <div class="form-group mb-3">
                {{form.age}}
            </div>
            <div class="form-group mb-3">
                {{form.level}}
            </div>
            <input type="submit" class="btn btn-outline-success" >
        </form>
    </div>
</body>